/* Reset */

body, h1, h2, h3, p, ul, li {
	padding: 0px;
	margin: 0px;
}

li {
    list-style: none;
}

*{
    box-sizing:border-box;
}
body {
	font-family: Georgia, serif;
	color: #252525;
}

/* MENU */


.header-info {
    font-size: 0.875em;
    margin: 0 auto;
    background: #d6d3c8;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 10px 0;
}

header img{
    margin: 0 auto;
    display: block;
    padding: 40px 0;
}

header .header-menu{
    border-top: solid 3px #d6d3c8;
    border-bottom: solid 3px #d6d3c8;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 40px;
}

header .header-menu li{
    display: inline-block;
}

header .header-menu li a{
    text-decoration: none;
    font-size: 1.125em;
    padding: 0 10px;
    color: #252525;

}

header .header-menu .li-com-pontos::before{
    content:"•";
    padding-right: 10px;

}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width:1140px;
}

.container::after, .container::before{
    display: table;
    clear:both;
}
.filtro-categorias{
    background: #e7e4d8;
    border: 3px solid #d6d3c8;
    width: 380px;
    padding: 20px;
    float:left;
}

.filtro-categorias li{
    line-height: 2;
    font-size: 1.125em;
    font-style: italic;
}
.filtro-categorias ul{
    border-top: 3px solid #c0beb4;
    border-bottom: 3px solid #c0beb4;
    padding: 10px 0;

}

.filtro-categorias h2{
    padding: 10px 0; 
    font-size: 1.125em;
}

.filtro-categorias li button{
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #c0beb4;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    padding: 8px;
}

.sabores{
    overflow: hidden;
}

.sabores span{
    text-indent: -200px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius:50%;
    vertical-align: middle;
    background: currentColor;
}

.sabor-fraco{
    color: #492901;
    box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor;
}

.sabor-medio{
    color: #c17139;
    box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor, 60px 0 0 0 currentColor;
}

.sabor-forte{
    color: #d7a54d;
    box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor, 60px 0 0 0 currentColor, 80px 0 0 0 currentColor;
}

.todos-produtos{
    width:760px;
    margin: 0 10px;
    float: left;
}

.todos-produtos h1{
    font-size: 3em;
    font-weight: normal;
}

.todos-produtos l1{
    width:300px;
    float:left;
}
.produto h1{
    font-size: 3em;
    font-weight: normal;
}

.produto img{
    display:block;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #252525;
    margin: 40px 3px 0 3px;

}

.produto{
    float:left;
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-flex:0;
    padding-right: 70px;
    padding-left: 10px;
}

@media (max-width: 1200px){
    .produto{
        padding-right: 10px;
        padding-left: 10px;
    }
    .todos-produtos{
        width:640px;
    }
    .container{
        width:960px;
        max-width: 100%;
        margin: 0 auto;
    }
    .filtro-categorias{
        width:320px;    
    }
}

@media (max-width: 1000px){
    .produto{
        padding-right: 10px;
        padding-left: 10px;
        max-width: 50%;
    }
    .todos-produtos{
        width:460px;
    }
    .container{
        width:720px;
        max-width: 100%;
        margin: 0 auto;
    }
    .filtro-categorias{
        width:240px;    
    }

    .produto img{
        max-width: 200px;
    }
}

@media (max-width: 770px){
    .produto{
        padding-right: 10px;
        padding-left: 10px;
        max-width: 50%;
    }
    .todos-produtos{
        width:460px;
    }
    .container{
        width:720px;
        max-width: 100%;
        margin: 0 auto;
    }
    .filtro-categorias{
        display:none;  
    }

    .produto img{
        max-width: 200px;
    }
}

.produto p{
    background: #e7e4d8;
    padding: 10px;
    font-size: 0.875em;
    font-weight: bold;
    position: relative;
    top: -15px;
    display: inline;
}

footer{
    display:inline-block;
    margin-top: 80px;
    background:#e7e4d8;
    width:100%;
    text-align: center;
    padding: 60px 0;
    font-size: 1.125em;
    line-height: 1.4em;
}