/* Reset */

body, h1, h2, h3, p, ul, li {
	padding: 0px;
	margin: 0px;
}

li {
    list-style: none;
}

*{
    box-sizing:border-box;
}
body {
	font-family: Georgia, serif;
	color: #252525;
}

/* MENU */


.header-info {
    font-size: 0.875em;
    margin: 0 auto;
    background: #d6d3c8;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 10px 0;
}

header img{
    margin: 0 auto;
    display: block;
    padding: 40px 0;
}

header .header-menu{
    border-top: solid 3px #d6d3c8;
    border-bottom: solid 3px #d6d3c8;
    text-align: center;
    padding: 20px 0;
}

header .header-menu li{
    display: inline-block;
}

header .header-menu li a{
    text-decoration: none;
    font-size: 1.125em;
    padding: 0 10px;
    color: #252525;

}

header .header-menu .li-com-pontos::before{
    content:"•";
    padding-right: 10px;

}

